# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("cities.csv")
cities_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp F,Wind Speed mph
0,0,Busselton,76,AU,1609622772,69,-33.65,115.33,57.99,1.01
1,1,Mar del Plata,0,AR,1609622481,51,-38.00,-57.56,84.20,14.99
2,2,Hobart,75,AU,1609622703,82,-42.88,147.33,62.01,3.36
3,3,Ponta do Sol,75,PT,1609622773,54,32.67,-17.10,59.00,9.17
4,4,Albany,52,US,1609622600,73,42.60,-73.97,37.99,15.99
...,...,...,...,...,...,...,...,...,...,...
559,559,Mangai,66,CD,1609622702,96,-4.05,19.53,70.84,2.24
560,560,Sergeevka,0,KZ,1609622917,86,53.88,67.42,-19.64,7.67
561,561,Hinton,100,CA,1609622917,69,53.40,-117.59,37.40,3.36
562,562,Wajir,88,KE,1609622917,46,1.75,40.06,83.73,6.06
563,563,Khorixas,84,NaN,1609622918,63,-20.37,14.97,65.77,10.76

In [16]:
cities_clean = cities_df.dropna()
cities_clean

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp F,Wind Speed mph
0,0,Busselton,76,AU,1609622772,69,-33.65,115.33,57.99,1.01
1,1,Mar del Plata,0,AR,1609622481,51,-38.00,-57.56,84.20,14.99
2,2,Hobart,75,AU,1609622703,82,-42.88,147.33,62.01,3.36
3,3,Ponta do Sol,75,PT,1609622773,54,32.67,-17.10,59.00,9.17
4,4,Albany,52,US,1609622600,73,42.60,-73.97,37.99,15.99
...,...,...,...,...,...,...,...,...,...,...
558,558,Marshall,1,US,1609622917,58,34.38,-86.33,61.00,5.82
559,559,Mangai,66,CD,1609622702,96,-4.05,19.53,70.84,2.24
560,560,Sergeevka,0,KZ,1609622917,86,53.88,67.42,-19.64,7.67
561,561,Hinton,100,CA,1609622917,69,53.40,-117.59,37.40,3.36
562,562,Wajir,88,KE,1609622917,46,1.75,40.06,83.73,6.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [17]:
gmaps.configure(g_key)
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
#fig = gmaps.figure()
#Figure(layout=FigureLayout(height='420px'))

In [18]:
#Set up map

Locations = cities_clean[["Lat", "Lng"]]
Humidity = cities_clean["Humidity"]

heat_layer = gmaps.heatmap_layer(Locations, weights=Humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [19]:
# Null values have already been dropped
# Narrow down the cities to fit the following weather conditions:
# wind speed less than 8 mph
# cloudiness equals 0
# max temp between 60 and 80
# humidity between 20 and 70%.

perfect_cities_df = cities_clean.loc[(cities_clean["Wind Speed mph"] < 8) & (cities_clean["Cloudiness"] == 0) & \
                                     (cities_clean["Max Temp F"] >= 60) & (cities_clean["Max Temp F"] <= 80) & \
                                     (cities_clean["Humidity"] > 20) & (cities_clean["Humidity"] <= 70)]

perfect_cities_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp F,Wind Speed mph
34,34,Saldanha,0,ZA,1609622782,46,-33.01,17.94,73.40,6.93
83,83,Guerrero Negro,0,MX,1609622794,24,27.98,-114.06,69.12,7.65
88,88,Tessalit,0,ML,1609622795,24,20.20,1.01,65.03,5.53
97,97,Bilma,0,NE,1609622798,21,18.69,12.92,70.21,6.17
99,99,Araouane,0,ML,1609622798,23,18.90,-3.53,67.28,5.32
222,222,Oussouye,0,SN,1609622829,69,12.48,-16.55,78.80,4.70
262,262,Kibala,0,TD,1609622839,57,9.11,18.35,75.20,3.62
300,300,Dawei,0,MM,1609622849,56,14.08,98.20,67.23,4.70
333,333,Taoudenni,0,ML,1609622857,26,22.68,-3.98,64.45,6.49

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [21]:
hotel_df = pd.DataFrame(perfect_cities_df, columns=["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df

               City Country    Lat     Lng Hotel Name
34         Saldanha      ZA -33.01   17.94
83   Guerrero Negro      MX  27.98 -114.06
88         Tessalit      ML  20.20    1.01
97            Bilma      NE  18.69   12.92
99         Araouane      ML  18.90   -3.53
222        Oussouye      SN  12.48  -16.55
262          Kibala      TD   9.11   18.35
300           Dawei      MM  14.08   98.20
333       Taoudenni      ML  22.68   -3.98

In [22]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
        
    #Save the hotel name to the dataframe
    try:
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("No hotel available within 5 km")

Retrieving Results for Index 34: Saldanha.
Retrieving Results for Index 83: Guerrero Negro.
Retrieving Results for Index 88: Tessalit.
No hotel available within 5 km
Retrieving Results for Index 97: Bilma.
No hotel available within 5 km
Retrieving Results for Index 99: Araouane.
No hotel available within 5 km
Retrieving Results for Index 222: Oussouye.
Retrieving Results for Index 262: Kibala.
Retrieving Results for Index 300: Dawei.
Retrieving Results for Index 333: Taoudenni.
No hotel available within 5 km

In [23]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [24]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))